%h1 All Artworks
= link_to root_path do
  #logo.v-h-center

.artwork-thumbs
  - @artworks.each do |artwork|
    .thumbnail
      %h3= artwork.name
      %p
        - artwork.attributes.values_at('picture', 'description').each do |v|
          = v
          %br
      %p.text-center
        = link_to "Edit", edit_artwork_path(artwork), class: "btn btn-primary", role: "button"
        = link_to "Show", artwork, class: "btn btn-default", role: "button"
